@using ZtherApiIntegration.Models.Detail
@using ZtherApiIntegration.Models;

@model DetailModel

<div>

    <div id="detail_page">
        <div class="modal_overlay"></div>
        <div class="detail_modal">
            <div style="display:none" id="divCurrentProductCode">@Model.ProductDetail.Code</div>
            <div class="mobile_exit">
                <img src="public/images/detail/icons/x_close_white.png">

            </div>
            <img class="exit" src="public/images/detail/icons/x_close.png">

            <!-- Size Chart Partial -->
            @Html.Partial("~/Views/Partials/Detail/_SizeChartPartial.cshtml", Model)

        </div>

        <div class="detail_top">

            <!-- Detail Left Partial  -->
            @Html.Partial("~/Views/Partials/Detail/_DetailLeftPartial.cshtml")

            <!-- Detail Right Partial  -->
            @Html.Partial("~/Views/Partials/Detail/_DetailRightPartial.cshtml", Model)

        </div>

        <!-- Power Reviews Detail Review & Question Display -->
        <div id="pr-reviewdisplay"></div>
        <div id="pr-questiondisplay"></div>

    </div>

</div>

<!-- Modal Dialog Box Start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">BUY NOW</h4>
            </div>
            <div class="modal-body">
                <div id="widget-container">
                    <div id="et-widget">
                        <ul id="retailers">
                            <!-- AllHeart -->
                            @if (Model.VendorProductPage.HasProductPage(Vendor.AllHeart))
                            {
                                <li class="item Allheart.com">
                                    <a target="_blank" href="@Model.VendorProductPage.GetVendorProductPage(Vendor.AllHeart).ProductUrl">
                                        <img class="logo" src="~/public/images/detail/vendors/logos/allheart.png" alt="Allheart.com">
                                    </a>
                                    <a class="btn btn-buynow" target="_blank" href="@Model.VendorProductPage.GetVendorProductPage(Vendor.AllHeart).ProductUrl">Buy Now</a>
                                </li>
                            }
                            else
                            {
                                <li class="item Allheart.com">
                                    <a target="_blank" href="#">
                                        <img class="logo" src="~/public/images/detail/vendors/logos/allheart_grey.png" alt="Allheart.com">
                                    </a>
                                    <a class="btn btn-buynow" target="_blank" href="#" disabled>Buy Now</a>
                                </li>
                            }
                            <!-- Scrubs&Beyond -->
                            @if (Model.VendorProductPage.HasProductPage(Vendor.ScrubsAndBeyond))
                            {
                                <li class="item Scrubs and Beyond">
                                    <a target="_blank" href="@Model.VendorProductPage.GetVendorProductPage(Vendor.ScrubsAndBeyond).ProductUrl">
                                        <img class="logo" src="~/public/images/detail/vendors/logos/scrubsbeyond.png" alt="Scrubs and Beyond">
                                    </a>
                                    <a class="btn btn-buynow" target="_blank" href="@Model.VendorProductPage.GetVendorProductPage(Vendor.ScrubsAndBeyond).ProductUrl">Buy Now</a>
                                </li>
                            }
                            else
                            {
                                <li class="item Scrubs and Beyond">
                                    <a target="_blank" href="#">
                                        <img class="logo" src="~/public/images/detail/vendors/logos/scrubsbeyond_grey.png" alt="Scrubs and Beyond">
                                    </a>
                                    <a class="btn btn-buynow" target="_blank" href="#" disabled>Buy Now</a>
                                </li>
                            }
                            <!-- ScrubsOnCall -->
                            @if (Model.VendorProductPage.HasProductPage(Vendor.ScrubsOnCall))
                            {
                                <li class="item ScrubsOnCall.com">
                                    <a target="_blank" href="@Model.VendorProductPage.GetVendorProductPage(Vendor.ScrubsOnCall).ProductUrl">
                                        <img class="logo" src="~/public/images/detail/vendors/logos/scrubsoncall.png" alt="ScrubsOnCall.com">
                                    </a>
                                    <a class="btn btn-buynow" target="_blank" href="@Model.VendorProductPage.GetVendorProductPage(Vendor.ScrubsOnCall).ProductUrl">Buy Now</a>
                                </li>
                            }
                            else
                            {
                                <li class="item ScrubsOnCall.com">
                                    <a target="_blank" href="#">
                                        <img class="logo" src="~/public/images/detail/vendors/logos/scrubsoncall_grey.png" alt="ScrubsOnCall.com">
                                    </a>
                                    <a class="btn btn-buynow" target="_blank" href="#" disabled>Buy Now</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog Box End -->

<script src="public/js/logic/detail.js"></script>

@* Power Reviews JS script. *@
<script src="//ui.powerreviews.com/stable/4.0/ui.js"></script>

<script type="text/javascript">
    setValues('@Model.ProductDetail.Code', '@Model.ProductDetail.DefaultColorCode', '@(Model.ColorsAndSizes.ProductCategorySizes.Count > 0 ? Model.ColorsAndSizes.ProductCategorySizes[0] : "")');
</script>

<script>

    fbq('track', 'ViewContent');

    // Power Reviews script for rendering review review snippet, review display and question display.
    POWERREVIEWS.display.render({
        api_key: '@Model.PowerReview.API_Key',
        locale: '@Model.PowerReview.Locale',
        merchant_group_id: '@Model.PowerReview.Merchant_Group_Id',
        merchant_id: '@Model.PowerReview.Merchant_Id',
        page_id: '@Model.PowerReview.ProductCode',
        review_wrapper_url: '@Model.PowerReview.Write_Review_URL',
        style_sheet: '@Model.PowerReview.StyleSheet',
        components: {
            ReviewSnippet: 'pr-reviewsnippet',
            ReviewDisplay: 'pr-reviewdisplay',
            QuestionDisplay: 'pr-questiondisplay'
        }
    });

</script>
