@using ZtherApiIntegration.Models.Detail
@using ZtherApiIntegration.Common

@model DetailModel

@{ 
    var api_endpoint = System.Configuration.ConfigurationManager.AppSettings["API-Endpoint"];
    var brand_code = "LN";
    var AllHeart_Id = 1;
    var ScrubsAndBeyond_Id = 2;
}

<div>

    <div id="detail_page">
        <div class="modal_overlay"></div>
        <div class="detail_modal">
            <div style="display:none" id="divCurrentProductCode">@Model.ProductDetail.Code</div>
            <div class="mobile_exit">
                <img src="public/images/detail/icons/x_close_white.png">

            </div>
            <img class="exit" src="public/images/detail/icons/x_close.png">

            <!-- Size Chart Partial -->
            @Html.Partial("~/Views/Partials/Detail/_SizeChartPartial.cshtml", Model)

        </div>

        <div class="detail_top">

            <!-- Detail Left Partial  -->
            @Html.Partial("~/Views/Partials/Detail/_DetailLeftPartial.cshtml")

            <!-- Detail Right Partial  -->
            @Html.Partial("~/Views/Partials/Detail/_DetailRightPartial.cshtml", Model)

        </div>

        <!-- Power Reviews Detail Review & Question Display -->
        <div id="pr-reviewdisplay"></div>
        <div id="pr-questiondisplay"></div>

    </div>

</div>

<!-- Modal Dialog Box Start -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">BUY NOW</h4>
            </div>
            <div class="modal-body">
                <div id="widget-container">
                    <div id="et-widget">
                        <ul id="retailers">
                            <li class="item Allheart.com" data-modelname=" 4161" data-ean="undefined" data-retailer="Allheart.com">
                                <a target="_blank" href="@String.Format("{0}/brands/{1}/vendors/{2}/products/{3}", api_endpoint, brand_code, AllHeart_Id, Model.ProductDetail.Code)">
                                    <img class="logo" src="https://where-to-buy.co/content/images/logos/allheart121x42.png" alt="Allheart.com">
                                </a>
                                <a class="btn btn-buynow" target="_blank" href="@String.Format("{0}/brands/{1}/vendors/{2}/products/{3}", api_endpoint, brand_code, AllHeart_Id, Model.ProductDetail.Code)">Buy Now</a>
                            </li>
                            <li class="item Scrubs and Beyond" data-modelname=" 4161" data-ean="undefined" data-retailer="Scrubs and Beyond">
                                <a target="_blank" href="@String.Format("{0}/brands/{1}/vendors/{2}/products/{3}", api_endpoint, brand_code, ScrubsAndBeyond_Id, Model.ProductDetail.Code)">
                                    <img class="logo" src="https://where-to-buy.co/content/images/logos/scrubsbeyond121x42.png" alt="Scrubs and Beyond">
                                </a>
                                <a class="btn btn-buynow" target="_blank" href="@String.Format("{0}/brands/{1}/vendors/{2}/products/{3}", api_endpoint, brand_code, ScrubsAndBeyond_Id, Model.ProductDetail.Code)">Buy Now</a>
                            </li>
                            <li class="item ScrubsOnCall.com" data-modelname=" 4161" data-ean="undefined" data-retailer="ScrubsOnCall.com">
                                <a target="_blank" href="https://eagle-pos.com/scrubsOnCall/include/php/detail.php?item=@(Model.ProductDetail.Code)&vendor=LAN">
                                    <img class="logo" src="https://where-to-buy.co/content/images/logos/scrubsoncall121x42.png" alt="ScrubsOnCall.com">
                                </a>
                                <a class="btn btn-buynow" target="_blank" href="https://eagle-pos.com/scrubsOnCall/include/php/detail.php?item=@(Model.ProductDetail.Code)&vendor=LAN">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog Box End -->

<script src="public/js/logic/detail.js"></script>

@* Power Reviews JS script. *@
<script src="//ui.powerreviews.com/stable/4.0/ui.js"></script>

<script type="text/javascript">
    setValues('@Model.ProductDetail.Code', '@Model.ProductDetail.DefaultColorCode', '@(Model.ColorsAndSizes.ProductCategorySizes.Count > 0 ? Model.ColorsAndSizes.ProductCategorySizes[0] : "")');
</script>

<script>

    fbq('track', 'ViewContent');

    // Power Reviews script for rendering review review snippet, review display and question display.
    POWERREVIEWS.display.render({
        api_key: '@Model.PowerReview.API_Key',
        locale: '@Model.PowerReview.Locale',
        merchant_group_id: '@Model.PowerReview.Merchant_Group_Id',
        merchant_id: '@Model.PowerReview.Merchant_Id',
        page_id: '@Model.PowerReview.ProductCode',
        review_wrapper_url: '@Model.PowerReview.Write_Review_URL',
        style_sheet: '@Model.PowerReview.StyleSheet',
        components: {
            ReviewSnippet: 'pr-reviewsnippet',
            ReviewDisplay: 'pr-reviewdisplay',
            QuestionDisplay: 'pr-questiondisplay'
        }
    });

</script>
