@using ZtherApiIntegration.Models.WhereToBuy
@model WhereToBuyIntlModel

<div class="title">
    <h2 class="text">@Model.SearchByDesc Retailers</h2>
    <div class="sub_text">Displaying<span class="highlight space_both">@Model.RetailList.Retailers.Count</span>Stores</div>
</div>

@*Iterate rows*@
@for (int i = 0; i <= 4; i++)
{
    <div class="location_row">

        @for (int j = (i * 3); j < Model.RetailList.Retailers.Count && j < ((i + 1) * 3); j++)
        {
            var retail = Model.RetailList.Retailers[j];
            <div class="location">
                <img class="marker" srcset="public/images/where_to_buy/location_icon_small.svg" alt="" />
                <div class="right">
                    <div class="name">@retail.StoreName</div>
                    <div class="block mobile_padding">
                        <div class="text">@retail.Address</div>
                        <div class="text">@string.Format("{0}, {1} {2}", retail.City, retail.State, retail.ZipCode)</div>
                    </div>
                    <div class="block top_padding">
                        @if (!string.IsNullOrEmpty(retail.Phone))
                        {
                            <div class="text phone">Phone: @retail.Phone</div>
                        }
                        @if (!string.IsNullOrEmpty(retail.Fax))
                        {
                            <div class="text">Fax: @retail.Fax</div>
                        }
                    </div>
                    <div class="block mobile_padding">
                        @if (!string.IsNullOrEmpty(retail.WebSite))
                        {
                            <div class="text website"><a href="//@retail.WebSite">@retail.WebSite</a></div>
                        }
                        @*@if (!string.IsNullOrEmpty(retail.Email))
                        {
                            <div class="text email"><a href="mailto:@retail.Email">@retail.Email</a></div>
                        }*@
                    </div>
                    <a class="info_toggle">
                        <span class="more">More Details</span>
                        <span class="less">Less Details</span>
                    </a>
                </div>
            </div>
        }

    </div>
}

@*Pagination*@
@Html.Partial("~/Views/Partials/WhereToBuy/_PaginationPartial.cshtml", Model.RetailList.Pagination)
