@using ZtherApiIntegration.Models.Catalog
@using ZtherApiIntegration.Common
@model CatalogSelectionModel

<div id="main_nav_side" class="mobile-only">
    <ul>
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="true">
                Womens <span>&#xe800;</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <ul class="ul-category">
                        @foreach (var dropDownItem in Model.WomenCategories)
                        {
                            <li><a href="@UrlBuilder.BuildCatalogUrl(new BreadcrumbModel() {Gender=Model.Breadcrumb.Gender, Category=dropDownItem })">@dropDownItem.Value</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="true">
                Mens <span>&#xe800;</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <ul class="ul-category">
                        @foreach (var dropDownItem in Model.MenCategories)
                        {
                            <li><a href="@UrlBuilder.BuildCatalogUrl(new BreadcrumbModel() {Gender=Model.Breadcrumb.Gender, Category=dropDownItem })">@dropDownItem.Value</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="@UrlBuilder.BuildFullUrl(UrlEnum.SOLIDS)">Solids</a></li>        
        <li><a href="@UrlBuilder.BuildFullUrl(UrlEnum.PRINTS)">Prints</a></li>
        <li><a href="@UrlBuilder.BuildFullUrl(UrlEnum.GROUPS)">Groups</a></li>
        <li><a href="@UrlBuilder.BuildFullUrl(UrlEnum.COLLECTIONS)">Collections</a></li>
        <li>
            <div class="hor-divider"></div>
        </li>
        <li>
            <a href="/catalog">
                <span class="nav-text">Catalog</span>
            </a>
        </li>
        <li>
            <a href="@UrlBuilder.BuildFullUrl(UrlEnum.NEWS)">
                <span class="nav-text">News</span>
            </a>
        </li>
        <li>
            <a href="@UrlBuilder.BuildFullUrl(UrlEnum.WHERE_TO_BUY)">
                <span class="nav-text">Where to buy</span>
            </a>
        </li>
        <li>
            <a href="@UrlBuilder.BuildFullUrl(UrlEnum.FIT_GUIDE)">
                <span class="nav-text">Fit Guide</span>
            </a>
        </li>
        <li>
            <a href="@UrlBuilder.BuildFullUrl(UrlEnum.FAVS)" class="num">
                <span class="nav-text">My Favorites</span>
                <span class="num-circle"><span class="num">3</span></span>
            </a>
        </li>
    </ul>
</div>
