@using ZtherApiIntegration.Models.Detail
@using ZtherApiIntegration.Common
@model DetailModel

<div class="right">

    @if (!Model.IsCanonicalUrl)
    {
        <div class="top_buttons">
            <a class="page_buttons prev" href="@Model.PreviousProductUrl">
                <div class="arrow">&#xe800;</div>
            </a>
            <a class="page_buttons next" href="@Model.NextProductUrl">
                <div class="arrow">&#xe800;</div>
            </a>
        </div>
    }

    <h1 class="title" itemprop="name">@Model.ProductDetail.Name</h1>
    <div class="sku">@Model.ProductDetail.Code</div>

    <!-- Summary Container goes above the fold near product name or image -->
    <div id="BVRRSummaryContainer"></div>

    <div class="description_title">Description</div>
    <div class="description">
        @Html.Raw(Model.ProductDetail.Description)
    </div>

    <div class="buy_favorites_container">
        <a class="buy_now_button where_to_buy" href="#" data-toggle="modal" data-target="#myModal">
            <div>Buy Online</div>
        </a>
        <a id="buy_in_store" href="#" class="where_to_buy">Buy In Store</a>
    </div>

    <div class="favorites_container">
        <img class="heart" srcset="public/images/detail/icons/heart.svg" alt="" />
        <div class="text">Add to My Favorites</div>
    </div>

    <div class="social_container">
        @Html.Partial("~/Views/Partials/Detail/_SocialSharePartial.cshtml", Model.ProductImages)
    </div>


    <!-- Category Options Partial -->
    @Html.Partial("~/Views/Partials/Detail/_CategoryOptionsPartial.cshtml", Model)

</div>

